/*

COLORING

For ease of colortheming, the color selectors are grouped together with descriptive comments.
Just change the color-values to apply your own color-scheme.

*/

/* Main navigation */
.navigation li.navigation_active a {
    color       : #c8b7b7;
    font-weight : bold;
    font-style  : italic;
}      /* Background-color of active item */
.navigation li.navigation_active a:hover { 
} /* Background-color of hovered active item */
.navigation li a { 
    color: black;
}                                   /* Text color */
.navigation li a:hover { 
    color: #c8b7b7;
}                             /* Text color on hovering */
.navigation li.navigation_first { 
}        /* Border color. Typically same as above */
.navigation li { 
    border-left-color: #bbb;
}                         /* Highlight border-color */
.navigation li.navigation_active { 
    border-left-color: #555;
}       /* Highlight border-color of active item */

/* Sub navigation */
.subnavigation li { background-color: #555; }                       /* Background-color */
.subnavigation li a { border-color: #555; }                         /* Should be set to the same as the above */
.subnavigation li a { color: #fff; }                                /* Text color */
.subnavigation li a:hover { border-color: #fff; }                   /* Markings color of hovered item */
.subnavigation li a:hover { color: #e0e0e0; }                       /* Text color of hovered item */
.subnavigation li.subnavigation_active a { color: #e0e0e0; }        /* Text color of active item */
.subnavigation li.subnavigation_active a { border-color: #e0e0e0; } /* Markings color of active item */

.navigation {
    list-style-type: none;
    clear: both;
    margin: 0.1em 0;
    font-size: 14pt;
    overflow: hidden; /* Clearing floats */
}

.navigation li {
    float       : right; 
    margin-left : 10px;
    height      : 1.5em; 
    text-align  : center;  
}

.navigation li.navigation_first {
}

.navigation li.navigation_active {
}

.navigation li a {
    padding: 0.2em 0;
    display: block;
    text-decoration: none;
}

.navigation li a:hover {
}

.navigation li.navigation_active a {
    cursor: default;
}

.subnavigation {
    list-style-type: none;
    clear: both;
    margin: 1em 0;
    font-size: 12px;
    overflow: auto; /* Clearing floats */
}
.subnavigation li {
    float: left;
    padding: 0.35em 1.5em;
    border-width: 1px 0;
}
.subnavigation li a {
    display: block;
    padding: 2px 0;
    border-style: solid;
    border-width: 1px 0;
    text-decoration: none;
}
.subnavigation li a:hover {
    border-width: 1px 0;
}
.subnavigation li.subnavigation_active a {
    cursor: default;
}

#menu {
    font-family     : "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-right   : 15px; 
}